Thanks for signing up with <Your app>! You must follow this link to activate your account:
<div>
    <a target="_blank"
        rel="noopener noreferrer"
        data-saferedirecturl="https://www.google.com/url?q={{baseURl}}/api/v1/auth/confirm/{{emailToken}}"
    href="{{baseURl}}/api/v1/auth/confirm/{{emailToken}}"
    >{{baseURl}}/api/v1/auth/confirm/{{emailToken}}
    </a>
</div>

Have fun, and don't hesitate to contact us with your feedback.
